.Video-content-output{
    justify-content: center;
    align-items: center;
}

.Video-content-output p{
    margin: 10px auto;
}
.Video-content-output-video{
    display: flex;
    width: 380px;
    height: 228px;
    border: 1px solid gray;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(201, 199, 197, 0.801);
}

.Video-content-output video{
    max-width: 380px;
    max-height: 228px;
}

.Video-content-output-button{
    background-color: #5e83c2;
    color: #FCFFE7;
    font-size: 14px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
}

.Video-content-output-to{
    background-color: #ecc568;
    color: black;
    font-size: 16px;
    border: none;
    padding: 10px 16px;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 5px;
}